// Import page-specific CSS files here.
@import "home";
@import "show";

body {
  background-color: $background-color;
}

.banner {
  height: 400px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 5px;

  h1 {
    font-size: $font-dimension * 16;
    font-weight: 900;
  }
}
