// show-pages
.banner-emotion {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 150px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Vina Sans', sans-serif;
  }

}

.rating-container {
width: 250px;
display: flex;
justify-content: center;
background-color: #ffffff;
border-radius: 8px;
font-family: 'Vina Sans', sans-serif;
}

.rating-container .span {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  padding: 10px;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  align-items: space-between;

  .button {
    margin: 0 10px;
  }
}

.container-emotion {
  background-color: #ffffff;
  margin: 20px;

  .card-emotion {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;

    .link {
      text-decoration: none;
      color: black;
    }
  }

  .emotion-rating {
    font-size: 48px;
  }

  .emotion-available {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    background-color: rgba(153, 255, 153, 0.486);
    box-shadow: 0 0 10px rgba(75, 126, 75, 0.486);
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}
