<div class= "banner">
<h1 class="center-text left-margin-1">Welcome to Intensify</h1>
<p class="center-text left-margin-2" >What emotion would you like to feel today?</p>
</div>
<div class="circle-container">
  <div class="category-avatar" >😃</div>
  <div class="category-avatar" >😢</div>
  <div class="category-avatar" >🤮</div>
  <div class="category-avatar" >😤</div>
  <div class="category-avatar" >😰</div>
</div>

</div>
<div class="container">
  <div class="row row-cols-3">
    <% @emotions.each do |emotion| %>
      <ul>
          <div class="col card-index">
            <h3><%= emotion.name.capitalize %></h3>
            <p><%= emotion.description %></p>
            <button class= "button"><%= link_to "Book", emotion_path(emotion), class:"button-text" %></button>
          </div>
      </ul>
    <% end %>
  </div>
<div class="footer">
  <p>© 2023 Intensify</p>
</div>
