.card {
  width: 437px;
height: 519px;
flex-shrink: 0;
border: 1px solid $card-border-color;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card-image {
  width: 342px;
height: 300px;
flex-shrink: 0;
object-fit: cover;
}

.card-text {
  font-size: 14px;
  color: #000000;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
