<br>
<h1 class="center-text">Inquire</h1>

  <p class="center-text">Send a message about <%= @emotion.name %> to <%= @emotion.user.first_name %></p>
  <br>

  <%= render 'form' %>
<br>
<%= link_to 'Back', emotion_path(@emotion), class: 'owner-button' %>
